*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #060822;
    font-family:monospace;
}
.h1{
    text-align: center;
    background-color: #91aec4;
    color: white;
    font-size: 2.75rem;
    padding: 10px;
}
.content{
    display: flex;
    align-items: center;
}